{% extends 'base.html.twig' %}

{% block title %}Macroman Solutions | Jobs
{% endblock %}

{% block body %}

	<section class="job mt-5 mb-5">
		<div class="container">
			<div class="row pt-5 pb-5">
				<div class="col-md-12 pt-5 pb-5">
					<h1 class="pb-3">Software Engineer Recruitment</h1>
					<h2>About</h2>
					<div>
						<p class="lead">
							<strong>Macroman Solutions</strong>
							is a startup based in Bangladesh, we are a bunch of people who love Technology and to build something amazing with it. Our main focus is to develop complete business solutions for businesses to make their life easier. We believe in transparency, a simplified work environment, and a helpful mentality.</p>

						<p>Recently, we have received over half a million dollar worth investment from venture capitals in one of our Products.</p>
					</div>
					<h2>Job Description</h2>
					<div>
						<p>As a software engineer you'll be involved with the whole development cycle.
						</p>
						<p>
							You will:
						</p>
						<ul>
							<li>
								<p>Plan the technical specifications and architecture of new features and changes</p>
							</li>
							<li>
								<p>Write high quality, testable code solo and with a pair</p>
							</li>
							<li>
								<p>Spend some time tracking down and squashing bugs</p>
							</li>
							<li>
								<p>Address security and technical debt as it arises</p>
							</li>
							<li>
								<p>Ensure deployments succeed and that production systems stay up</p>
							</li>
						</ul>
					</div>
					<div>
						<p>You should have:</p>
						<ul>
							<li>
								<p>Solid grasp of OOP and be able to develop a complete solution following the design pattern</p>
							</li>
							<li>
								<p>Solid understanding of Symfony/Laravel frameworks and their individual components</p>
							</li>
							<li>
								<p>Experience in developing and consuming REST APIs in Symfony/Laravel ecosystem</p>
							</li>
							<li>
								<p>Solid understanding of Vuejs</p>
							</li>

						</ul>
						<p>
							<i>You know git and follow proper git workflow in your development</i>
						</p>
						<p>Learning is part of our culture, so it's okay if you haven't done everything on this list yet. Just be ready and willing to learn it.</p>
					</div>
					<h4>Our Tech Stack</h4>
					<div>
						<p>While you will probably start out working in the part of our codebase you feel most comfortable with, everyone is a full-stack developer here.
						</p>
						<ul>
							<li>
								<p><strong>Frontend</strong>: Typescript, Vuejs, Tailwind</p>
							</li>
							<li>
								<p><strong>Backend</strong>: Symfony, Redis, RabbitMQ, GRPC, Protobuf</p>
							</li>
							<li>
								<p><strong>Pattern</strong>: Event Driven Microservice, Event Sourcing, CQRS</p>
							</li>
							<li>
								<p><strong>Production Deployments</strong>: Linux, NagiOS, Grafana, Linode</p>
							</li>
						</ul>
					</div>
					<h4>The product you'll be working on</h4>

					<div>
						<p>The main focus of Macroman Solution is to build sophisticated yet easier to operate products that helps different level of people engaged in eCommerce. Whether thats a vendor, retailer, supplier or customer, our mission is to make their life easier.
						</p>
						<ul>
							<li>
								<p>Different level of integration with eCommerce related service</p>
							</li>
							<li>
								<p>Products that helps vendor's to take their business online</p>
							</li>
							<li>
								<p>Analysis of data to focus on area's that offers more oppertunity
								</p>
							</li>
						</ul>
					</div>
					<h2>Our Requirements</h2>
					<div>
						<p>Now that you know a little more about what you'll do and the impact you'll have, here's what you'll need to succeed in this role:
						</p>
						<h4>Passion</h4>
						<ul>
							<li>
								<p>You want to work in the field of Market Analysis and Automation.</p>
							</li>
							<li>
								<p>Your personal goals align with this role and our company's mission.</p>
							</li>
							<li>
								<p>You care more about the "why" than the "how".</p>
							</li>
						</ul>

						<h4>Initiative</h4>
						<ul>
							<li>
								<p>You take on projects beyond your current knowledge to challenge yourself.</p>
							</li>
							<li>
								<p>You learn, create, or code in your free time.</p>
							</li>
							<li>
								<p>You notice and record problems then make an effort to solve them efficiently.</p>
							</li>
						</ul>

						<h4>Competence</h4>
						<ul>
							<li>
								<p>You have a proven record of solving engineering problems and tracking down issues across the stack.</p>
							</li>
							<li>
								<p>You knows when to ask vs. when to figure it out on your own.</p>
							</li>
							<li>
								<p>You can communicate technical ideas to non-technical team members.</p>
							</li>
							<li>
								<p>You demonstrate an organized approach to solving problems.</p>
							</li>
							<li>
								<p>You consistently ask for and implement feedback.</p>
							</li>
						</ul>

						<h4>Reliability</h4>
						<ul>
							<li>
								<p>You commit to realistic timelines on the projects you take on.</p>
							</li>
							<li>
								<p>You can be counted on to do what you say.</p>
							</li>
							<li>
								<p>You are a self-starter, and find things to do even when not assigned a task directly.</p>
							</li>
						</ul>

					</div>
					<h2>Benefits</h2>
					<div>
						<ul>
							<li>
								<p><strong>Salary range 30,000 - 60,000 BDT</strong></p>
							</li>
							<li>
								<p>Performance Bonus</p>
							</li>
							<li>
								<p>2 Festival Bonus</p>
							</li>
							<li>
								<p>Yearly Increment</p>
							</li>
							<li>
								<p>And, a few other surprises to keep you happy.</p>
							</li>
						</ul>
					</div>
					<div>
						<p><strong>Note</strong>: This is a Remote job and you'll work from the comfort of your home. You'll have to work using your own device. If you have prior remote working experience it'll be highly appreciated. We don’t really care about your educational background. You do need to be able to Speak and Write English in a proper way, that’s good enough for us.</p>
					</div>
					<h2>How to Apply</h2>
					<div>
						<p>Fill out the form at <a href="{{ absolute_url(path('home_apply')) }}">{{ absolute_url(path('home_apply')) }}</a> ( It’s a Google Form, May require you to log in via Google Account )
							
							Thanks for taking a look!</p>
					</div>
					<p class="pt-3">
						<a href="{{ absolute_url(path('home_apply')) }}" class="btn btn-lg btn-outline-light">APPLY</a>
					</p>
				</div>

			</div>
		</div>
	</section>
	<section id="contactus" class="mt-5 mb-5">
		<div class="container">
			<div class="row justify-content-center text-center pb-5 pt5">
				<div class="col-md-12 pb-2">
					<h1 class="pb-5 pt-5">
						GET IN TOUCH
					</h1>
				</div>
				<div class="col-md-4">
					<div class="media">
						<span class="mt-0 mr-5" style="color: #FF9408">
							<i class="fas fa-map-marker-alt fa-3x"></i>
						</span>
						<div class="media-body">
							<h5 class="mt-0">LOCATION</h5>
							Bangladesh
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<span class="mt-0 mr-5" style="color: #FF9408">
							<i class="fas fa-paper-plane fa-3x"></i>
						</span>
						<div class="media-body">
							<h5 class="mt-0">EMAIL</h5>
							<a href="mailto:hello@macromanhq.com" style="color: #FF9408">hello@macromanhq.com</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-right">
					<div class="media justify-content-end">
						<a href="https://fb.com/macromanhq">
							<span class="mt-0 mr-3" style="color: #FF9408">
								<i class="fab fa-facebook-square fa-3x"></i>
							</span>
						</a>
						<a href="https://linkedin.com/company/macromanhq">
							<span class="mt-0 mr-1" style="color: #FF9408">
								<i class="fab fa-linkedin fa-3x"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="copyright mt-5 justify-content-center text-center">
		<p class="pt-5">Copyright &copy; 2020 Macroman Solutions</p>
	</section>


{% endblock %}
