
        <!-- Banner data analytics -->
        <div class="carousel-item active banner data-analytics">
          <div class="container">
            <div class="d-flex justify-content-between">
              <div class="banner-text">
                <h1 class="font-kaushan-script text-primary font-weight-normal">Data Analytics</h1>
              </div>
              <div class="banner-image ml-auto">
                <img src="{{ asset('build/img/home/banner_right_verctor_img_1.png') }}" class="img-fluid" alt="images here">
              </div>
            </div>
          </div>
        </div>