
        <!-- Banner software service -->
        <div class="carousel-item banner software-service">
          <div class="container">
            <div class="d-flex justify-content-between">
              <div class="banner-text">
                <h1 class="font-kaushan-script text-primary font-weight-normal">Software<span class="d-block">as a</span><span class="d-block">Service</span></h1>
              </div>
              <div class="banner-image ml-auto">
                <img {{ img_attrs(asset('build/img/home/banner_right_verctor_img_5.png')) }} class="img-fluid" alt="images here">
              </div>
            </div>
          </div>
        </div>