body.home {
  background: url("../../img/home/bg.png") no-repeat center top;
  background-size: cover;
}

body {
  background: url("../../img/common/bg.png") no-repeat center top;
  background-size: cover;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.p-64 {
  padding: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}


.pb-64 {
  padding-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-136 {
  padding-top: 136px;
}

.bg-opacity-5 {
  --bs-bg-opacity: 0.05;
}

.rounded-15 {
  border-radius: 15px;
}

.fw-600 {
  font-weight: 600;
}

.section-title {
  line-height: 1.125;
  margin-bottom: 16px;
}

.sub-title {
  font-size: 24px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  &[aria-expanded="false"] {
    .close-icon {
      display: none;
    }

    .bars-icon {
      display: block;
    }
  }

  &[aria-expanded="true"] {
    .close-icon {
      display: block;
    }

    .bars-icon {
      display: none;
    }
  }
}


.navbar-light .navbar-nav .nav-link.get-started:hover,
.navbar-light .navbar-nav .nav-link.get-started:focus {
  color: #FFFFFF;
}

.btn-mcm-outline {
  color: $secondary;
  border-color: $secondary;

  &:hover {
    color: #FFFFFF;
    border-color: $primary;
    background: $primary;
  }
}


.site-header {
  margin-bottom: 64px;
}


.site-footer {
  padding-top: 64px;
  padding-bottom: 64px;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}


// responsive
@media (max-width: 1199px) {
  .section-title {
    font-size: 48px;
  }
}

@media (max-width: 991px) {
  .section-title {
    font-size: 40px;
  }

  .site-footer {
    h6 {
      margin-top: 40px;
    }
  }
}

@media (max-width: 575px) {
  .site-header {
    margin-bottom: 24px;
  }

  .logo {
    font-size: 1rem;

    img {
      width: 30px;
    }
  }

  .section-title:not(.our-client-setion-title) {
    font-size: 26px;
  }

  .sub-title {
    font-size: 20px;
  }

  .copyright {
    p {
      font-size: 12px;
    }
  }
}