.features-you-get,
.service-technology-we-use {
  margin-top: 128px;
}

.project-img {
  position: relative;

  .create-for {
    position: absolute;
    padding: 8px 16px;
    border-radius: 4px;
    top: 24px;
    left: 24px;
    opacity: 0;
    transition: 0.3s ease;
    .title {
      font-size: 10px;
    }

    img:not(:last-child) {
      margin-right: 28px;
    }
  }

  &:hover {
    .create-for {
      opacity: 1;
    }
  }
}

@media (max-width: 1399px) {
  .service-banner {
    h4 {
      font-size: 36px;
    }
    h6 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .service-technology-we-use {
    h3 {
      font-size: 48px;
      margin-bottom: 32px;
    }
  }
  .features-you-get {
    margin-top: 64px;
    h3 {
      font-size: 48px;
    }
  }
}

@media (max-width: 991px) {
  .service-technology-we-use {
    margin-top: 64px;
  }
}

@media (max-width: 575px) {
  .features-you-get,
  .service-technology-we-use {
    margin-top: 32px;

    h3 {
      font-size: 36px;
    }
  }
}