.mcm-solution {
  ul li {
    font-size: 24px;

    .icon-check {
      font-size: 20px;
    }
  }

  img {
    width: 100%;
  }
}

.mcm-feature {
  .badge {
    background: rgba(0, 123, 255, 0.1);
    border-radius: 8px;
    width: 48px;
    height: 48px;
  }

  img {
    width: 100%;
  }
}

.development-process {
  .section-title {
    margin-bottom: 0;
  }
  .item {
    padding-top: 100%;
    position: relative;

    .content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;

      .svg-inline--fa {
        font-size: 40px;
      }

      h6 {
        margin-top: 20px;
      }
    }
  }
}

.under-the-hood {
  .item {
    padding-top: 100%;
    position: relative;

    .content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
      border-radius: 8px;

      img {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 1399px) {
  .development-process {
    .section-title {
      font-size: 48px;
    }

    .item .content h6 {
      font-size: 20px;
    }
  }
}

@media (max-width: 991px) {
  .responsive-tab-content.tab-content.software-tab-content > .tab-pane .content-wrapper {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  .mcm-solution {
    ul li {
      font-size: 16px;
    }

    .img-wrapper {
      img {
        width: 60%;
      }
    }
  }

  .mcm-feature {
    .feature {
      background: #FFF;
      box-shadow: 0px 10px 15px rgb(0 0 0 / 5%);
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0px;
      }

      .row {
        &.mt-64 {
          margin-top: 0px;
        }
        &.mb-64 {
          margin-bottom: 0px;
        }
        .img-wrapper {
          img {
            width: 60%;
          }
        }
      }
    }
  }
  .development-process .section-title {
    margin-bottom: 24px;
  }
}
