.mcm-solution {
  ul li {
    font-size: 24px;

    .icon-check {
      font-size: 20px;
    }
  }
}

.mcm-feature {
  .badge {
    background: rgba(0, 123, 255, 0.1);
    border-radius: 8px;
    width: 48px;
    height: 48px;
  }
}