body.home {
  background: url("../../img/home/bg.png") no-repeat center top;
  background-size: cover;
}

body {
  background: url("../../img/common/bg.png") no-repeat center top;
  background-size: cover;
}

textarea {
  resize: none;
}

.p-64 {
  padding: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pb-64 {
  padding-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-136 {
  padding-top: 136px;
}

.bg-opacity-5 {
  --bs-bg-opacity: 0.05;
}

.rounded-15 {
  border-radius: 15px;
}

.fw-600 {
  font-weight: 600;
}

.section-title {
  line-height: 1.125;
}


.navbar-light .navbar-nav .nav-link.get-started:hover,
.navbar-light .navbar-nav .nav-link.get-started:focus {
  color: #FFFFFF;
}

.banner {
  margin-bottom: 64px;
}

.service {
  margin-bottom: 84px;

  .service-card-wrap {
    .col {
      .icon-wrap {
        width: 138px;
        height: 149px;
        display: flex;
        align-items: center;
        justify-content: center;

        .svg-inline--fa {
          font-size: 48px;
        }
      }

      &:not(:first-child) .icon-wrap {
        background: url('../../img/home/icon_bg_blur.svg') no-repeat;
        background-size: contain;
      }

      &:first-child .icon-wrap {
        background: url('../../img/home/icon_bg.svg') no-repeat;
        background-size: contain;
      }

      .card {
        padding: 50px 36px 26px;
        border-radius: 15px;
        border: none;
      }
    }
  }
}

.help-business {
  margin-bottom: 84px;

  .content-box {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background: $secondary;
      opacity: 0.25;
      filter: blur(16px);
      border-radius: 28px;
      width: 80%;
      height: 30px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
}

.why-choose {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 64px;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.43) 77.84%);

  .vector-img {
    position: absolute;
    width: 200px;
    height: 400px;
    right: 0;
    top: -78px;
  }
}

.our-work {
  padding-top: 64px;
  padding-bottom: 64px;

  .section-title {
    margin-bottom: 64px;
  }

  img {
    margin-bottom: 64px;
  }
}

.our-clients {
  margin-bottom: 128px;

  .our-clients-wrap {
    padding: 56px 70px;
    border-radius: 15px;

    h3 {
      margin-right: 64px;
    }

    .logos {
      margin: -18px;

      .list-inline-item {
        padding: 18px;
      }
    }
  }
}

.what-clients-saying {
  padding-bottom: 104px;

  .carousel-indicators [data-bs-target] {
    text-indent: 0;
    background-color: transparent;
    width: 60px;
  }

  .carousel-indicators .active img {
    border: 3px solid $primary;
    border-radius: 50%;
  }

  .card {
    padding: 64px;
    position: relative;

    &:after {
      content: '"';
      position: absolute;
      width: 80px;
      height: 80px;
      font-size: 80px;
      background: linear-gradient(180deg, rgba(0, 123, 255, 0.8) 0%, #007BFF 100%);
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      color: #fff;
      left: 16px;
      top: 16px;
    }
  }
}

.site-footer {
  padding-top: 64px;
  padding-bottom: 64px;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}






// About Page
.about-banner {
  margin-top: 40px;

  .btn {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  }
}

.mission-card {

  .card {
    border-radius: 15px;
  }

  .card:nth-child(3),
  .card:nth-child(1) {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($color: #E1E5EE, $alpha: 0.05);
      z-index: 0;
    }

    &>.card-body {
      z-index: 9;
    }
  }
}

.build-solution {
  .arrow-img {
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 344px;
      top: 113px;
      left: 0;
    }
  }

  .card-wrapper {
    .card {
      width: 306px;
      height: 236px;
      margin-right: 134px;
      flex-shrink: 0;
      margin-bottom: 64px;
      background: #FFFFFF;
      border-radius: 15px;
      border: none;

      &:nth-child(3n + 3) {
        margin-right: 110px;
      }
    }
  }
}

.technology-we-use {
  background: url('../../img/about/technology_we_use_bg_overlay.png') no-repeat center top;
  background-size: cover;

  .icon-box {
    border-radius: 15px;
    height: 68px;
    padding: 10px 16px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background: #271F30;
      opacity: 0.03;
      filter: blur(14px);
      border-radius: 28px;
      height: 8px;
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
      bottom: -8px;
      z-index: -1;
    }
  }
}

.our-clients.about {
  .content-wrapper {
    border-radius: 15px;
    position: relative;

    .spring-imgs {
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.left {
          left: -60px;
        }

        &.right {
          right: -60px;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

}



// Contact Page
.contact-info {
  overflow: hidden;
}

.form-wrap {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 88%;
    height: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: $secondary;
    opacity: 0.4;
    filter: blur(25px);
    border-radius: 28px;
    z-index: -1;
  }
}