{% extends "base.html.twig" %}
{% block body %}
<div class="banner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<h3 class="section-title">
					Make Your
					<strong class="text-primary">
						Business Agile
					</strong>
					with Our Leading-Edge
					<strong class="text-primary">
						Solutions
					</strong>
				</h3>
				<p class="sub-title">
					Our data-driven solutions are tailor-made to suit your needs. From Mobile Apps to Market Analysis solutions, we are ready help you to reach the epitome of success
				</p>
				<a href="/contact" class="btn btn-primary text-white">
					Begin Your Journey with Macroman
					<i class="fas fa-chevron-right ms-3"></i>
				</a>
			</div>
			<div class="col-md-6">
				<img {{ img_attrs(asset('build/img/home/banner_right.png')) }} class="img-fluid" alt="images here">
			</div>
		</div>
	</div>
</div>

<!-- Service -->
<div class="service">
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4 service-card-wrap" data-masonry='{"percentPosition": true }'>
			<div class="col">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Software Solution</h6>
					<p>We develop scalable software solutions for big and small businesses. No matter your size, our
						solutions fit like a glove</p>
				</div>
			</div>

			<div class="col mt-4 mt-md-5">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Analytical Solution</h6>
					<p>Data is everything in today’s business space, we set up world-class analytics solutions for your
						growing business</p>
				</div>
			</div>

			<div class="col">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>UI / UX Design</h6>
					<p>We make ergonomic and adaptable UI/UX solutions customized for your business</p>
				</div>
			</div>

			<div class="col">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Mobile Application</h6>
					<p>Be it on Android or iOS, we develop mobile applications that set you apart from the competitors
					</p>
				</div>
			</div>

			<div class="col mt-4 mt-md-5">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Market Analysis</h6>
					<p>We build resilient market analytics solutions to help you expand your business further and
						understand the market trends early</p>
				</div>
			</div>

			<div class="col">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Web Development</h6>
					<p>We develop scalable web solutions; so that the website can grow alongside your business</p>
				</div>
			</div>

			<div class="col">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Consultancy</h6>
					<p>We provide consultancy solutions for new and existing ventures, helping your mature in the market
						and flourish</p>
				</div>
			</div>

			<div class="col mt-4 mt-md-5">
				<div class="card text-center">
					<div class="icon-wrap mx-auto mb-4">
						<i class="fas fa-gem text-white mb-3"></i>
					</div>
					<h6>Social Media</h6>
					<p>We make handling social media easy with our innovative solutions. Say goodbye to your problems,
						we’ll take care of the rest</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Help business -->
<div class="help-business">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img {{ img_attrs(asset('build/img/home/help_business_left_img.png')) }} class="img-fluid"
					alt="images here">
			</div>
			<div class="col-lg-6 text-center text-md-start">
				<h3 class="section-title">We Brew Adaptable Solutions; Our Focus Is on Your
					<strong class="text-primary">Growth</strong>
				</h3>
				<p  class="sub-title">We deliver solutions to help elevate your <span class="text-primary">growth</span>. From websites and mobile apps to market analysis
					and social media, we deliver <span class="text-primary">widespread solutions</span> that suit <span class="text-primary">your needs</span></p>

				<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
					<div class="col">
						<div class="bg-white text-center py-4 px-2 rounded-2 content-box h-100">
							<h6 class="mb-0">130+</h6>
							<p class="text-uppercase mb-0">Happy Clients</p>
						</div>
					</div>

					<div class="col">
						<div class="bg-white text-center py-4 px-2 rounded-2 content-box h-100">
							<h6 class="mb-0">200+</h6>
							<p class="text-uppercase mb-0">Projects Completed</p>
						</div>
					</div>

					<div class="col">
						<div class="bg-white text-center py-4 px-2 rounded-2 content-box h-100">
							<h6 class="mb-0">10+</h6>
							<p class="text-uppercase mb-0">Ready Solution</p>
						</div>
					</div>
				</div>

				<a href="/about" class="btn btn-mcm-outline">More About Us
					<i class="fas fa-chevron-right ms-3"></i>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Why Choose Us -->
<div class="why-choose">
	<div class="vector-img">
		<img {{ img_attrs(asset('build/img/home/bubble.png')) }} class="img-fluid" alt="images here">
	</div>
	<div class="container position-relative">
		<div class="row">
			<div class="col-md-6 mb-5">
				<h3 class="section-title">Why You Should Choose
					<strong class="text-primary">Macroman?</strong>
				</h3>
				<p class="sub-title">Macroman thinks about the wider picture and provides you with solutions that best suit your needs.
					Elevate yourself to the next level by choosing Macroman Solutions!</p>
			</div>
		</div>

		<div class="row mb-3 mb-md-5">
			<div class="col-md-4 mb-4 mb-md-0">
				<i class="fas fa-gem text-primary mb-2"></i>
				<h6>Widespread Solutions</h6>
				<p>We provide widespread solutions that cover all your business needs across various departments</p>
			</div>

			<div class="col-md-4 mb-4 mb-md-0">
				<i class="fas fa-gem text-primary mb-2"></i>
				<h6>Quality &amp; Resilient Support</h6>
				<p>Our support team works round the clock to provide you with the best solutions as per your requirement
				</p>
			</div>

			<div class="col-md-4">
				<i class="fas fa-gem text-primary mb-2"></i>
				<h6>Fair Price &amp; Great Value</h6>
				<p>We provide cost-effective solutions that do not break the bank. We also ensure a great value for your
					growing business</p>
			</div>
		</div>

		<a href="/contact" class="btn btn-mcm-outline">
			Let's Start Planning Togather
			<i class="fas fa-chevron-right ms-3"></i>
		</a>
	</div>
</div>

<!-- our work -->
<div class="our-work">
	<div class="container text-center">
		<h3 class="section-title">Some of Our <strong class="text-primary">Inventive<br />Solutions</strong>
			for Our Clients
		</h3>
		<img {{ img_attrs(asset('build/img/home/finest_work.png')) }} class="img-fluid" alt="images here">
		<a href="/portfolio" class="btn btn-mcm-outline">
			See Our Inventive Works
			<i class="fas fa-chevron-right ms-3"></i>
		</a>
	</div>
</div>

<!-- Our Clients -->
<div class="our-clients">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center our-clients-wrap bg-secondary">
			<h3 class="text-white section-title our-client-setion-title text-center text-lg-start fw-bold">Our Most Trusted Clients</h3>

			{% include './inc/trusted_logos.html.twig' with {
				'wrapperClass': 'text-center text-lg-start',
			} %}

		</div>
	</div>
</div>


{% include './inc/praises.html.twig' with {
	'wrapperClass': '',
	'title': 'See <strong class="text-primary">Our Clients</strong> Testimonials',
	'subtitle': 'As we worked with some of the most esteemed clients from around the world. These are some testimonials from them about our service and our solutions fit like a glove',
	'subtitleClass': 'sub-title'
	} %}


{% endblock %}