{% extends "base.html.twig" %}

{% block body %}

    <div class="container job">
      {{ job.content | raw }}

      <a href="https://macromanhq.com/apply/{{job.slug}}" class="btn btn-primary text-white btn-with-shadow text-uppercase" target="_blank">Apply Now</a>
    </div>
{% endblock %}