{% extends "base.html.twig" %}

{% block body %}
    <!-- Job Post -->
    <div class="job-posts">
      <div class="container">
        <div class="single-job-post d-flex align-items-center justify-content-between position-relative">
          <div class="tags text-uppercase text-primary font-weight-bold position-absolute">
            <span>Development</span>
          </div>
          <div class="job-details">
            <h4 class="font-weight-bold">Sr. Backend Developer</h4>
            <p>
              Job Type: <span class="job-type">Permanent</span>
              Vacancy: <span class="vacancy">1</span>
            </p>
          </div>
          <div class="experience">
            <h5 class="font-weight-medium">Experience</h5>
            <p>
              <span class="exp-year">2 - 3</span> Years
            </p>
          </div>
          <div class="deadline">
            <h5 class="font-weight-medium">Deadline</h5>
            <p>
              <span class="deadline-date">2021-02-06 (8 days left)</span>
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary btn-with-shadow font-weight-bold mt-0">Apply Now</a>
        </div>
        <div class="single-job-post d-flex align-items-center justify-content-between position-relative">
          <div class="tags text-uppercase text-primary font-weight-bold position-absolute">
            <span>Development</span>
          </div>
          <div class="job-details">
            <h4 class="font-weight-bold">Sr. Backend Developer</h4>
            <p>
              Job Type: <span class="job-type">Permanent</span>
              Vacancy: <span class="vacancy">1</span>
            </p>
          </div>
          <div class="experience">
            <h5 class="font-weight-medium">Experience</h5>
            <p>
              <span class="exp-year">2 - 3</span> Years
            </p>
          </div>
          <div class="deadline">
            <h5 class="font-weight-medium">Deadline</h5>
            <p>
              <span class="deadline-date">2021-02-06 (8 days left)</span>
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary btn-with-shadow font-weight-bold mt-0">Apply Now</a>
        </div>
        <div class="single-job-post d-flex align-items-center justify-content-between position-relative">
          <div class="tags text-uppercase text-primary font-weight-bold position-absolute">
            <span>Development</span>
          </div>
          <div class="job-details">
            <h4 class="font-weight-bold">Sr. Backend Developer</h4>
            <p>
              Job Type: <span class="job-type">Permanent</span>
              Vacancy: <span class="vacancy">1</span>
            </p>
          </div>
          <div class="experience">
            <h5 class="font-weight-medium">Experience</h5>
            <p>
              <span class="exp-year">2 - 3</span> Years
            </p>
          </div>
          <div class="deadline">
            <h5 class="font-weight-medium">Deadline</h5>
            <p>
              <span class="deadline-date">2021-02-06 (8 days left)</span>
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary btn-with-shadow font-weight-bold mt-0">Apply Now</a>
        </div>
        <div class="single-job-post d-flex align-items-center justify-content-between position-relative">
          <div class="tags text-uppercase text-primary font-weight-bold position-absolute">
            <span>Development</span>
          </div>
          <div class="job-details">
            <h4 class="font-weight-bold">Sr. Backend Developer</h4>
            <p>
              Job Type: <span class="job-type">Permanent</span>
              Vacancy: <span class="vacancy">1</span>
            </p>
          </div>
          <div class="experience">
            <h5 class="font-weight-medium">Experience</h5>
            <p>
              <span class="exp-year">2 - 3</span> Years
            </p>
          </div>
          <div class="deadline">
            <h5 class="font-weight-medium">Deadline</h5>
            <p>
              <span class="deadline-date">2021-02-06 (8 days left)</span>
            </p>
          </div>
          <a href="#" class="btn btn-outline-primary btn-with-shadow font-weight-bold mt-0">Apply Now</a>
        </div>
      </div>
    </div>
{% endblock %}