<footer class="site-footer {% if is_page('home') %}home-footer{% endif %}">
	<div class="container">
		<div class="d-md-flex justify-content-between">
			<div class="footer-left flex-fill">
				<img src="{{ asset('build/img/home/logo.png') }}" alt="Macroman Solutions Logo" class="main-logo">
				<p class="text-gray">We create <strong>digital experience</strong> for business that leaves a long lasting
					positive impression</p>
			</div>
			<div class="footer-mid home-footer flex-fill">
				<h4 class="text-white">Services</h4>
				<div class="d-flex justify-content-between flex-column flex-lg-row">
					<ul class="list-unstyled">
						<li><a href="#" class="text-gray font-raleway">Data Analytics</a></li>
						<li><a href="#" class="text-gray font-raleway">Software As A Service</a></li>
						<li><a href="#" class="text-gray font-raleway">Market Analysis</a></li>
					</ul>
					<ul class="list-unstyled">
						<li><a href="#" class="text-gray font-raleway">Consultancy</a></li>
						<li><a href="#" class="text-gray font-raleway">App Development</a></li>
						<li><a href="#" class="text-gray font-raleway">Web Development</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-right flex-fill">
				<h4 class="text-white">Follow Us</h4>
				<ul class="list-inline">
					<li class="list-inline-item"><a href="https://fb.com/macromanhq" class="text-white"><i class="fab fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://github.com/macromanhq" class="text-white"><i class="fab fa-github"></i></a></li>
					<li class="list-inline-item"><a href="#https://twitter.com/macromanhq" class="text-white"><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://linkedin.com/company/macromanhq" class="text-white"><i class="fab fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="copyright bg-primary">
	<div class="container">
		<p class="text-white text-center text-uppercase">Copyright &copy; {{ "now"|date("Y") }} Macroman Solutions</p>
	</div>
</div>