<footer class="site-footer bg-secondary {% if is_page('home') %}home-footer{% endif %}">
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<div class="d-flex align-items-center mb-4">
					<img {{ img_attrs(asset('build/img/home/logo_white.svg')) }} alt="Macroman Solutions Logo" class="main-logo me-3">
					<h6 class="text-white fw-bold">Macroman Solution</h6>
				</div>
				<p class="mb-4 text-white">Software Solutions, Data Analytics, Machine Learning, Design And Consultancy Company</p>
			</div>
			<div class="col-md-4">
				<h6 class="text-white fw-bold">Service</h6>
				<div class="row">
					<div class="col-md-6">
						<p class="mb-2">
							<a href="/" class="">Market Analysis</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">Web Development</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">Consultancy</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">Social Media Solution</a>
						</p>
					</div>

					<div class="col-md-6">
						<p class="mb-2">
							<a href="/" class="">Software Solution</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">Analytical Solution</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">UI/UX Design</a>
						</p>
						<p class="mb-2">
							<a href="/" class="">Mobile Application</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<h6 class="text-white fw-bold">Support</h6>
				<p class="mb-2">
					<a href="/" class="">Contact</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">Privacy Policy</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">Terms &amp; Conditions</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">About</a>
				</p>
			</div>

      <div class="col-md-2">
				<h6 class="text-white fw-bold">Resources</h6>
				<p class="mb-2">
					<a href="/" class="">Portfolio</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">Team</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">Case Studies</a>
				</p>
				<p class="mb-2">
					<a href="/" class="">Blog</a>
				</p>
			</div>
		</div>
	</div>
</footer>


<div class="copyright bg-primary py-3">
	<div class="container">
		<p class="text-white text-center text-uppercase mb-0">Copyright &copy;
			{{ "now"|date("Y") }}
			<span class="fw-bolder">Macroman Solutions</span></p>
	</div>
</div>
