<footer class="site-footer bg-secondary mt-64 {% if is_page('home') %}home-footer{% endif %}">
	<div class="container">

		<div class="row">
			<div class="col-lg-4">
				<div class="d-flex align-items-center mb-3 mb-lg-4 logo navbar-brand py-0">
					<img {{ img_attrs(asset('build/img/home/logo_white.png')) }} alt="Macroman Solutions Logo" class="main-logo img-fluid me-3">
					<span class="text-white fw-bold mt-0">Macroman Solution</span>
				</div>
				<p class="mb-4 text-white">Software Solutions, Data Analytics, Machine Learning, Design And Consultancy Company</p>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="//fb.com/macromanhq"><img {{ img_attrs(asset('build/img/common/fb.png')) }} class="" alt="icon here"></a>
					</li>
					<li class="list-inline-item">
						<a href="//linkedin.com/company/macromanhq"><img {{ img_attrs(asset('build/img/common/linkedIn.png')) }} class="" alt="icon here"></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<h6 class="text-white fw-bold">Services</h6>
				<div class="row">
					<div class="col-lg-6">
						<p class="mb-2">
							<a href="/contact" class="">Market Analysis</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">Web Development</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">Consultancy</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">Social Media Solution</a>
						</p>
					</div>

					<div class="col-lg-6">
						<p class="mb-2">
							<a href="/contact" class="">Software Solution</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">Analytics Solution</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">UI/UX Design</a>
						</p>
						<p class="mb-2">
							<a href="/contact" class="">Mobile Application</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-2">
				<h6 class="text-white fw-bold">Support</h6>
				<p class="mb-2">
					<a href="/contact" class="">Contact</a>
				</p>
				<p class="mb-2">
					<a href="/about" class="">About</a>
				</p>
				{# <p class="mb-2">
					<a href="/contact" class="">Privacy Policy</a>
				</p>
				<p class="mb-2">
					<a href="/contact" class="">Terms &amp; Conditions</a>
				</p> #}
			</div>

			<div class="col-lg-2">
				<h6 class="text-white fw-bold">Resources</h6>
				<p class="mb-2">
					<a href="/portfolio" class="">Portfolio</a>
				</p>
				{# <p class="mb-2">
					<a href="/" class="">Team</a>
				</p>
				<p class="mb-2">
					<a href="#" class="">Case Studies</a>
				</p> #}
				{# <p class="mb-2">
					<a href="/" class="">Blog</a>
				</p> #}
			</div>
		</div>
	</div>
</footer>


<div class="copyright bg-primary py-3">
	<div class="container">
		<p class="text-white text-center text-uppercase mb-0">Copyright &copy;
			{{ "now"|date("Y") }}
			<span class="fw-bolder">Macroman Solution</span>
		</p>
	</div>
</div>
