<header class="site-header">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand font-raleway font-weight-bold" href="/">
				<img src="{{ asset('build/img/home/logo.svg') }}" class="img-fluid main-logo" alt="Macroman Solutions Logo">
				<span>Macroman Solutions</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link font-maven-pro" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-maven-pro" href="/jobs">Jobs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-maven-pro pr-0" href="/contactus">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% if not is_page('home') %}
	<div class="container">
      <h1 class="text-white page-title text-center mb-0">{{ pageTitle|default('Page Title') }}</h1>
    </div>
	{% endif %}
</header>